:host {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/backgrounds/background_01.png");
    z-index: -1;
    opacity: 1;
    animation: fadeBackground 0.8s ease forwards;
    background-size: cover;
  }
}

@keyframes fadeBackground {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 3rem;
  width: 45rem;
  height: fit-content;
  background-color: #fff;
  border-radius: 1rem;
  gap: 2.2rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeInContainer 0.8s ease forwards;
}

@keyframes fadeInContainer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.logo {
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  width: 80%;
  align-items: center;

  .inputs {
    width: 100%;
    border: 0.1rem solid var(--grey);
    border-radius: 0.5rem;
  }

  .label {
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--grey);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;

    &.border {
      border-bottom: 0.1rem solid var(--grey);
    }

    .eye {
      position: absolute;
      right: 0.7rem;
      bottom: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }

    input {
      width: calc(100% - 2.2rem);
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      border: none;
      font-size: 1.25rem;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      &::-ms-clear,
      &::-ms-reveal {
        display: none;
      }
    }
  }

  .button-submit {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: var(--blue);
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      background-color: var(--blue-hover);
    }
  }
}

.error-message {
  width: 100%;
  font-size: 1rem;
  color: red;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
