@if (!(isChecking$ | async)) {
<main class="container">
  <app-logo class="logo no-link"></app-logo>
  <h1 class="title">Вход в систему</h1>
  <form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="inputs-container">
      <div class="inputs">
        <label class="label border"
          >Имя пользователя
          <input class="input" type="text" formControlName="login" />
        </label>

        <label class="label"
          >Пароль
          <input class="input"
            [type]="isShowPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <img
            class="eye"
            [src]="
          `assets/svg/${isShowPassword ? 'eye-off' : 'eye'}.svg`
          "
            alt="show password"
            (click)="toggleShowPassword()"
          />
        </label>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>

    <button mat-flat-button class="button-submit" type="submit" color="primary">Войти</button>
  </form>
</main>
}
