<div class="table-container">
  <div class="active-filters-panel" *ngIf="activeFilters.length > 0">
    <div class="filters">
      <span *ngFor="let filter of activeFilters" class="filter-badge">
        {{ colIdToHeaderName[filter.colId] || filter.colId }} =
        <strong>{{ filter.value }}</strong>

        <button
          mat-icon-button
          type="button"
          class="icon-button"
          (click)="removeFilter(filter.colId)"
          aria-label="Удалить фильтр"
        >
          <mat-icon class="icon">close</mat-icon>
        </button>
      </span>
    </div>
  </div>

  <ag-grid-angular
    style="width: 100%; height: 100%"
    [rowData]="rowData || []"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [theme]="myTheme"
    [localeText]="localeText"
    [paginationAutoPageSize]="true"
    [pagination]="true"
    [gridOptions]="{
      suppressMovableColumns: true
    }"
    (gridReady)="onGridReady($event)"
    (cellContextMenu)="onCellContextMenu($event)"
    (cellDoubleClicked)="onCellDoubleClicked($event)"
  />
</div>
