<ng-container *ngIf="chart$ | async as chart">
  <ng-container *ngIf="dataset$ | async as dataset">
    <div class="chart-container">
      <div *ngIf="initialFilters?.length" class="filter-indicator">
        Применены фильтры:
        <span *ngFor="let filter of initialFilters; let last = last">
          {{ filter.field }} = {{ filter.value }}{{ last ? "" : ", " }}
        </span>
      </div>

      <app-doughnut-chart
        *ngIf="chart.settings?.chartType === 'doughnutPercent'"
        [data]="chartData"
      ></app-doughnut-chart>

      <canvas
        *ngIf="
          chart.settings?.chartType !== 'doughnutPercent' &&
          chart.settings?.chartType !== 'table'
        "
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="chartType"
        class="chart"
        (chartClick)="onChartClick($event)"
      ></canvas>
    </div>
  </ng-container>
</ng-container>
