<header class="header">
  <div class="header-inner">
    <app-logo class="logo" />

    @if (user$ | async; as user) {
      <button
        mat-button
        class="user"
        [matMenuTriggerFor]="userMenu"
        aria-label="Меню пользователя"
      >
        <div class="container">
          <mat-icon class="photo">account_circle</mat-icon>
          <div class="user-info">
            <span class="name">{{ user.name }}</span>
          </div>
        </div>
      </button>

      <mat-menu #userMenu>
        <ng-template matMenuContent>
          @if (hasAnySettingsPermission$ | async) {
            <button mat-menu-item [routerLink]="'/settings'">
              <mat-icon>settings</mat-icon>
              Настройки
            </button>
          }

          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            Выйти
          </button>
        </ng-template>
      </mat-menu>
    }
  </div>
</header>
