<div class="chart-wrapper">
  <ng-container *ngIf="chartData$ | async as chartData">
    <ng-container *ngIf="chartOptions$ | async as chartOptions">
      <ng-container *ngIf="chartType$ | async as chartType">
        <ng-container [ngSwitch]="chartType">

          <!-- Таблица -->
          <div *ngSwitchCase="'table'" class="table-container">
            <app-table
              [rowData]="tableData$ | async"
              [columnDefs]="colDefs$ | async"
              [defaultColDef]="defaultColDef"
            ></app-table>
          </div>

          <!-- Кольцевой с процентом -->
          <div *ngSwitchCase="'doughnutPercent'" class="doughnut-container">
            <app-doughnut-chart [data]="chartData"></app-doughnut-chart>
          </div>

          <!-- Графики -->
          <canvas
            *ngSwitchDefault
            baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="normalizeChartType(chartType)"
          ></canvas>

        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
