<div class="container">
  <div class="panel">
    <div class="column-container">
      <div class="column-header"><h3>Измерения</h3></div>

      <div
        cdkDropList
        id="dimensions"
        [cdkDropListData]="dimensions()"
        class="list"
        [cdkDropListConnectedTo]="['xAxis', 'yAxis', 'filters', 'sorting']"
        (cdkDropListDropped)="drop($event, 'dimensions')"
      >
        <div *ngFor="let col of dimensions()" cdkDrag>{{ col.alias }}</div>
      </div>
    </div>

    <div class="column-container">
      <div class="column-header"><h3>Показатели</h3></div>

      <div
        cdkDropList
        id="measures"
        [cdkDropListData]="measures()"
        [cdkDropListConnectedTo]="['xAxis', 'yAxis', 'filters', 'sorting']"
        (cdkDropListDropped)="drop($event, 'measures')"
        class="list"
      >
        <div *ngFor="let item of measures()" cdkDrag>{{ item.alias }}</div>
      </div>
    </div>
  </div>

  <div class="panel right">
    <div class="column-container">
      <div class="column-header"><h3>Ось X</h3></div>

      <div
        cdkDropList
        [cdkDropListData]="xAxis()"
        [cdkDropListConnectedTo]="[
          'dimensions',
          'measures',
          'yAxis',
          'filters',
          'sorting'
        ]"
        (cdkDropListDropped)="drop($event, 'xAxis')"
        class="drop-zone"
        id="xAxis"
      >
        <div *ngFor="let item of xAxis()" cdkDrag>{{ item.alias }}</div>
      </div>
    </div>

    <div class="column-container">
      <div class="column-header"><h3>Ось Y</h3></div>

      <div
        cdkDropList
        [cdkDropListData]="yAxis()"
        [cdkDropListConnectedTo]="[
          'dimensions',
          'measures',
          'xAxis',
          'filters',
          'sorting'
        ]"
        (cdkDropListDropped)="drop($event, 'yAxis')"
        class="drop-zone"
        id="yAxis"
      >
        <div *ngFor="let item of yAxis()" cdkDrag>{{ item.alias }}</div>
      </div>
    </div>

    <div class="column-container">
      <div class="column-header">
        <h3>Фильтры</h3>
        <button
          mat-icon-button
          (click)="openAddFilterDialog()"
          matTooltip="Добавить фильтр"
          aria-label="Добавить фильтр"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div
        cdkDropList
        [cdkDropListData]="filters()"
        [cdkDropListConnectedTo]="[
          'dimensions',
          'measures',
          'xAxis',
          'yAxis',
          'sorting'
        ]"
        (cdkDropListDropped)="drop($event, 'filters')"
        class="drop-zone"
        id="filters"
      >
        <div *ngFor="let item of filters()" cdkDrag (click)="editFilter(item)">{{ item.alias }}</div>
      </div>
    </div>

    <div class="column-container">
      <div class="column-header"><h3>Сортировка</h3></div>

      <div
        cdkDropList
        [cdkDropListData]="sorting()"
        [cdkDropListConnectedTo]="[
          'dimensions',
          'measures',
          'xAxis',
          'yAxis',
          'filters'
        ]"
        (cdkDropListDropped)="drop($event, 'sorting')"
        class="drop-zone"
        id="sorting"
      >
        <div
          *ngFor="let item of sorting(); let i = index"
          cdkDrag
          class="sortable-column"
        >
          {{ item.alias }}

          <button
            mat-icon-button
            (click)="toggleSortDirection(i, $event)"
            [matTooltip]="
              item.direction === 'asc'
                ? 'Сортировка по возрастанию'
                : 'Сортировка по убыванию'
            "
            matTooltipPosition="above"
            [attr.aria-label]="'Сортировать ' + item.alias"
          >
            <mat-icon>
              {{ item.direction === "asc" ? "arrow_upward" : "arrow_downward" }}
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
