<h2 mat-dialog-title>Редактирование виджета</h2>

<mat-dialog-content [formGroup]="form" class="widget-form">
  <!-- Название/текст -->
  <mat-form-field appearance="outline" class="full-width widget-input">
    <mat-label>{{ isChart ? "Название виджета" : "Текст" }}</mat-label>
    <input matInput formControlName="name" minlength="1" required />
    <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      {{ isChart ? "Название обязательно" : "Текст не может быть пустым" }}
    </mat-error>
  </mat-form-field>

  <!-- График -->
  <ng-container *ngIf="isChart">
    <mat-form-field appearance="outline" class="full-width widget-input">
      <mat-label>Выбрать график</mat-label>
      <mat-select formControlName="chartId" required>
        <mat-option>
          <ngx-mat-select-search
            [formControl]="chartSearchCtrl"
            placeholderLabel="Поиск по названию..."
            noEntriesFoundLabel="Не найдено"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let chart of filteredCharts$ | async"
          [value]="chart.id"
        >
          {{ chart.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <!-- Общие параметры -->
  <!-- Размер шрифта -->
  <div class="form-section">
    <label class="section-label">Размер шрифта заголовка:</label>
    <mat-button-toggle-group
      formControlName="fontSize"
      hideSingleSelectionIndicator="true"
      class="font-size-toggle"
      name="fontSize"
      aria-label="Font size"
    >
      <mat-button-toggle *ngFor="let size of fontSizes" [value]="size">
        {{ size }}px
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Выравнивание текста по горизонтали -->
  <div class="form-section">
    <label class="section-label">Выравнивание текста:</label>
    <mat-button-toggle-group
      formControlName="textAlign"
      hideSingleSelectionIndicator="true"
      class="text-align-toggle"
      name="textAlign"
      aria-label="Text alignment"
    >
      <mat-button-toggle
        *ngFor="let align of textAlignOptions"
        [value]="align.value"
      >
        <mat-icon>{{ align.icon }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Вертикальное выравнивание только для текста -->
  <div class="form-section" *ngIf="isText">
    <label class="section-label">Вертикальное выравнивание:</label>
    <mat-button-toggle-group
      formControlName="verticalAlign"
      hideSingleSelectionIndicator="true"
      class="text-align-toggle"
      name="verticalAlign"
      aria-label="Vertical alignment"
    >
      <mat-button-toggle
        *ngFor="let align of verticalAlignOptions"
        [value]="align.value"
      >
        <mat-icon>{{ align.icon }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Цвет -->
  <app-color-picker
    [selectedColor]="form.value.color || '#000000'"
    [customColor]="form.value.customColor || '#000000'"
    (selectedColorChange)="selectColor($event)"
    (customColorChange)="onColorPicked($event)"
    label="Цвет заголовка"
  ></app-color-picker>

  <!-- Секция отборов -->
  <mat-divider></mat-divider>

  <div class="form-section">
    <div class="section-header">
      <h3>Отборы</h3>
      <button mat-button color="primary" (click)="openAddBindingForm()">
        <mat-icon>add</mat-icon>
        Добавить отбор
      </button>
    </div>

    <!-- Форма добавления нового отбора -->
    <div *ngIf="bindingFormMode === 'add'">
      <ng-container *ngTemplateOutlet="bindingFormTemplate"></ng-container>
    </div>

    <!-- Список всех отборов -->
    <mat-list *ngIf="widgetFilterBindings?.length" class="filter-list">
      <ng-container *ngFor="let binding of widgetFilterBindings">
        <mat-list-item
          *ngIf="bindingFormMode !== 'edit' || currentBindingId !== binding.id"
        >
          <div class="filter-item">
            <div class="filter-binding" (click)="startEditBinding(binding)">
              <span>{{
                getDashboardFilterName(binding.dashboardFilterId) | async
              }}</span>
              <mat-icon>arrow_forward</mat-icon>
              <span>{{
                getChartFilterName(binding.chartFilterId) | async
              }}</span>
            </div>

            <button mat-icon-button (click)="onRemoveFilterBinding(binding.id)">
              <mat-icon class="delete-icon">delete</mat-icon>
            </button>
          </div>
        </mat-list-item>

        <!-- Форма редактирования отбора -->
        <mat-list-item
          *ngIf="bindingFormMode === 'edit' && currentBindingId === binding.id"
          class="edit-form-container"
        >
          <ng-container *ngTemplateOutlet="bindingFormTemplate"></ng-container>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="widget-actions">
  <button
    mat-raised-button
    color="warn"
    class="delete-button"
    (click)="onDeleteWidget()"
  >
    Удалить
  </button>
  <div class="dialog-actions">
    <button mat-button mat-dialog-close>Отменить</button>
    <button
      mat-button
      color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      Сохранить
    </button>
  </div>
</mat-dialog-actions>

<ng-template #bindingFormTemplate>
  <div class="edit-binding-form" [formGroup]="bindingForm">
    <div class="filter-inputs">
      <mat-form-field appearance="outline">
        <mat-label>Отбор дашборда</mat-label>
        <mat-select formControlName="dashboardFilterId">
          <mat-option [value]="null">Не выбрано</mat-option>
          <mat-option
            *ngFor="let filter of filteredDashboardSelections$ | async"
            [value]="filter.id"
            [disabled]="
              (isFilterCompatible(
                filter,
                bindingForm.value.chartFilterId || null,
                'dashboard'
              ) | async) === false
            "
          >
            {{ filter.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-icon class="arrow">arrow_forward</mat-icon>

      <mat-form-field appearance="outline">
        <mat-label>Отбор графика</mat-label>
        <mat-select formControlName="chartFilterId">
          <mat-option [value]="null">Не выбрано</mat-option>
          <mat-option
            *ngFor="let filter of filteredChartSelections$ | async"
            [value]="filter.id"
            [disabled]="
              (isFilterCompatible(
                filter,
                bindingForm.value.dashboardFilterId || null,
                'chart'
              ) | async) === false
            "
          >
            {{ filter.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="edit-actions">
      <button mat-button (click)="cancelBindingForm()">Отменить</button>
      <button
        mat-raised-button
        color="primary"
        (click)="submitBindingForm()"
        [disabled]="bindingForm.invalid"
      >
        {{ bindingFormMode === "add" ? "Добавить" : "Сохранить" }}
      </button>
    </div>
  </div>
</ng-template>
