::ng-deep .mat-mdc-dialog-panel {
  min-width: 480px !important;
}

::ng-deep .mat-mdc-dialog-content {
  height: auto !important;
  overflow-y: auto !important;
}

.widget-form {
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: visible;
  gap: 1rem;
}

.widget-input {
  padding-top: 0.7rem;
}

.full-width {
  width: 100%;
}

.form-section {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.section-label {
  color: black;
}

.font-size-toggle {
  display: inline-flex;
  width: auto;
}

.widget-actions {
  display: flex;
  justify-content: space-between;

}

.dialog-actions {
  display: flex;
  gap: 0.1rem;
}

.section-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.new-filter-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .filter-inputs {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    mat-form-field {
      flex: 1;
    }

    .arrow {
      position: relative;
      top: -10px;
    }
  }
}

.filter-list {
  width: 100%;
  overflow-y: auto;
  padding-top: 0;
}

.filter-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0.5rem 0;

  .filter-binding {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .delete-icon {
    color: var(--red);
  }
}

.filter-list {
  .filter-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .filter-binding {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-grow: 1;
      cursor: pointer;
      padding: 8px;
      border-radius: 4px;
    }
  }
}

.edit-form-container {
  height: auto !important;
  padding: 0.5rem 0;
}

.edit-binding-form {
  width: 100%;
  padding: 0.5rem;

  .filter-inputs {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4px;

    mat-form-field {
      flex: 1;
    }

    .arrow {
      position: relative;
      top: -10px;
    }
  }

  .edit-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
  }
}
