<!-- <mat-form-field appearance="outline" class="date-input">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [matDatepicker]="datePicker"
    [value]="dateValue"
    (dateChange)="onDatePickerChange($event)"
    (change)="onDateInputChange($event)"
    [placeholder]="placeholder"
  />
  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field> -->

<mat-form-field appearance="outline" class="date-input">
  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    [matDatepicker]="datePicker"
    [value]="dateValue"
    [placeholder]="placeholder"
    (dateChange)="onDatePickerChange($event)"
    readonly
  />

  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>

  <mat-datepicker
    #datePicker
    [startView]="
      granularity === 'year'
        ? 'multi-year'
        : granularity === 'month'
        ? 'year'
        : 'month'
    "
    (monthSelected)="
      granularity === 'month' && monthSelected($event, datePicker)
    "
    (yearSelected)="granularity === 'year' && yearSelected($event, datePicker)"
    [panelClass]="granularity + '-picker'"
  ></mat-datepicker>
</mat-form-field>
