<h2 mat-dialog-title class="title">Редактирование дашборда</h2>

<form [formGroup]="form" (keydown.enter)="onSave()" class="dashboard-form">
  <mat-dialog-content
    class="edit-icon-modal"
    *ngIf="form.get('selectedColor')?.value"
  >
    <!-- Поле для ввода названия -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Название дашборда</mat-label>
      <input
        matInput
        [formControl]="nameControl"
        maxlength="52"
        placeholder="Введите название"
        autofocus
      />
      <mat-hint align="end">
        {{ form.get("name")?.value?.length || 0 }}/52
      </mat-hint>
    </mat-form-field>

    <!-- Просмотр текущей иконки -->
    <div class="preview">
      <smart-icon
        [iconName]="form.get('icon')?.value || 'chart'"
        [color]="currentColor || '#50b8c5'"
        [size]="'64px'"
        [iconClass]="'icon-preview'"
      ></smart-icon>
    </div>

    <!-- Сетка иконок -->
    <div class="icon-grid">
      <button
        *ngFor="let icon of iconsDefault"
        mat-icon-button
        class="icon-option"
        (click)="selectIcon(icon)"
        [class.selected]="icon === form.get('icon')?.value"
        type="button"
      >
        <mat-icon [svgIcon]="icon" class="icon"></mat-icon>
      </button>
      <button
        mat-icon-button
        type="button"
        (click)="showAllIcons = !showAllIcons"
        class="icon-option"
      >
        <mat-icon class="icon add">add</mat-icon>
      </button>
    </div>

    <div *ngIf="showAllIcons" class="all-icons">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Поиск иконки</mat-label>
        <input
          matInput
          type="text"
          [formControl]="iconSearchControl"
          placeholder="Введите название"
          class="full-width"
        />
      </mat-form-field>

      <div class="icons-list">
        <button
          *ngFor="let icon of filteredIcons()"
          mat-icon-button
          class="icon-option"
          (click)="selectIcon(icon)"
          [class.selected]="icon === form.get('icon')?.value"
          type="button"
        >
          <mat-icon class="icon">{{ icon }}</mat-icon>
        </button>
      </div>
    </div>

    <!-- Выбор цвета -->
    <app-color-picker
      [selectedColor]="form.get('selectedColor')?.value"
      [customColor]="form.get('customColor')?.value"
      (selectedColorChange)="onSelectedColorChange($event)"
      (customColorChange)="onCustomColorChange($event)"
      label="Цвет иконки:"
    ></app-color-picker>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Отмена</button>
    <button mat-flat-button color="primary" (click)="onSave()" type="button">
      Сохранить
    </button>
  </mat-dialog-actions>
</form>
