.edit-icon-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
  color: black;
}

.title {
  color: black;
}

.preview {
  display: flex;
  justify-content: center;

  .icon-preview {
    width: 64px !important;
    height: 64px !important;
    font-size: 64px !important;
    object-fit: cover;
    transition: all 0.3s ease;
  }
}

.full-width {
  width: 100%;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(7, 64px);
  grid-template-rows: repeat(1, 64px);
  gap: 0.6rem;
  justify-content: center;

  .icon-option {
    width: 64px;
    height: 64px;
    min-width: 64px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    .icon {
      font-size: 64px !important;
      width: 64px !important;
      height: 64px !important;
      color: black;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      margin: 0;
    }

    .add {
      font-size: 48px !important;
      width: 48px !important;
      height: 48px !important;
    }

    &.selected {
      border-color: var(--blue);
    }
  }
}

.icons-list {
  display: grid;
  grid-template-columns: repeat(10, 48px);
  max-height: 250px;
  overflow-y: scroll;

  .icon-option {
    width: 48px;
    height: 48px;
    min-width: 48px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    .icon {
      font-size: 35px;
      width: 35px;
      height: 35px;
      color: black;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      margin: 0;
    }

    .add {
      font-size: 48px;
      width: 48px;
      height: 48px;
    }

    &.selected {
      border-color: var(--blue);
    }
  }
}

.icon-option {
  --mdc-icon-button-icon-size: 40px;

  .mat-icon {
    width: 40px !important;
    height: 40px !important;
  }
}
