<div
  class="widget"
  [class.edit-mode]="isEditMode"
  [class.read-mode]="!isEditMode"
  (click)="handleClick($event)"
>
  <button
    mat-icon-button
    class="fullscreen-btn"
    (click)="expandToFullscreen($event)"
  >
    <mat-icon>fullscreen</mat-icon>
  </button>
  <p
    [ngClass]="{ 'text-widget': widget.type === 'text' }"
    [ngStyle]="{
      'font-size':
        'var(--font-size-' + widget.visualSettings?.fontSizeTitle + ')',
      color: widget.visualSettings?.colorTitle,
      'text-align': widget.visualSettings?.textAlign || 'left',
      'align-items': widget.type === 'text' ? getVerticalAlign(widget.visualSettings?.verticalAlign) : null,
    }"
  >
    <span
      class="title"
      [ngStyle]="{
      'text-align': widget.visualSettings?.textAlign || 'left',
    }"
      >{{ widget.title || "Без названия" }}</span
    >
  </p>

  <app-chart-container
    *ngIf="widget.chartId"
    [chartId]="widget.chartId"
    [widgetSelectors]="widgetSelections$"
    (chartClick)="handleChartClick($event)"
  ></app-chart-container>
</div>
