@if (loading$ | async) {
<div class="loading-indicator">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="50"
  ></mat-progress-spinner>
  <p>Загрузка данных...</p>
</div>
} @else { @if (interfaces$ | async; as interfaces) { @if (activeInterface$ |
async; as activeInterface) {
<nav class="navigate">
  @for (button of interfaces; track button.id) {
  <button
    mat-raised-button
    class="button"
    [class.active]="button.id === activeInterface.id"
    (click)="setActiveInterface(button.id)"
  >
    {{ button.name }}
  </button>
  }
</nav>
} }

<div class="menu">
  <mat-nav-list class="menu-buttons">
    @if (firstColumnDashboards$ | async; as firstColumnDashboards) { @for
    (button of firstColumnDashboards; track button.id) {
    <mat-list-item class="button" [routerLink]="['/dashboard', button.id]">
      <div class="button-content">
        <span class="button-title">{{ button.name }}</span>
        <smart-icon
          [iconName]="button.iconId || 'chart'"
          [color]="button.color || '#50b8c5'"
          [size]="'40px'"
          class="button-icon"
        ></smart-icon>
      </div>
    </mat-list-item>
    } }
  </mat-nav-list>

  <mat-nav-list class="menu-buttons">
    @for (button of secondColumnDashboards$ | async; track button.id) {
    <mat-list-item class="button" [routerLink]="['/dashboard', button.id]">
      <div class="button-content">
        <span class="button-title">{{ button.name }}</span>
        <smart-icon
          [iconName]="button.iconId || 'chart'"
          [color]="button.color || '#50b8c5'"
          [size]="'40px'"
          class="button-icon"
        ></smart-icon>
      </div>
    </mat-list-item>
    }
  </mat-nav-list>
</div>
}
