:host {
  font-family: "Roboto", sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/backgrounds/background_01.png");
    z-index: -1;
    opacity: 0.35;
    background-size: cover;
  }
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  mat-progress-spinner {
    margin-bottom: 16px;
  }
}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  flex-wrap: wrap;

  .button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 103%;
    color: black;
    border-radius: 0.625rem;
    box-shadow: inset 0 0 0.75rem rgba(0, 0, 0, 0.1),
      0 0 0.625rem rgba(0, 0, 0, 0.25);

    &:hover {
      scale: 1.02;
    }

    &.active {
      background-color: var(--blue-button);
    }

    &.active:hover {
      background-color: var(--blue-button-hover);
    }
  }
}

.menu {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-start;
  padding: 2.5rem;
  gap: 30rem;

  .button {
    height: fit-content;
    padding: 0;
    border-radius: 1.25rem;
    background-color: #fff;
    box-shadow: inset 0 0 0.75rem rgba(0, 0, 0, 0.1),
      0 0 1.375rem rgba(0, 0, 0, 0.2);

    .button-content {
      width: 100%;
      padding: 1.25rem 1rem;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
    }

    &:hover {
      transform: scale(1.015);
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
    }
  }

  .button-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.75rem;
    max-width: 450px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    white-space: normal;
  }

  .menu-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .button-icon {
    width: 2.5rem;
    height: 2.5rem;
    pointer-events: none;
  }
}
