<div [style.padding-left.px]="level * 20 + 16" class="dashboard-item">
  <div class="info-container">
    <div class="info">
      <button
        *ngIf="hasChildren"
        mat-icon-button
        (click)="toggle()"
        class="expand-button"
      >
        <mat-icon>
          {{ expanded() ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>

      <div *ngIf="!hasChildren" class="spacer"></div>

      <div (click)="select.emit(dashboard)" class="dashboard-link">
        <smart-icon
          [iconName]="dashboard.iconId || 'chart'"
          [color]="dashboard.color || '#50b8c5'"
          class="icon"
          [size]="'32px'"
        ></smart-icon>

        <span class="name">{{ dashboard.name }}</span>
      </div>
    </div>

    <div class="actions">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="createSubDashboard.emit(dashboard)">
          <mat-icon>add</mat-icon>
          Добавить дашборд
        </button>
        <button mat-menu-item (click)="edit.emit(dashboard)">
          <mat-icon>edit</mat-icon>
          Редактировать
        </button>
        <button mat-menu-item (click)="delete.emit(dashboard)">
          <mat-icon color="warn">delete</mat-icon>
          Удалить
        </button>
      </mat-menu>

      <button
        mat-icon-button
        color="primary"
        (click)="moveUp.emit(dashboard)"
        [disabled]="isFirst"
      >
        <mat-icon>arrow_upward</mat-icon>
      </button>

      <button
        mat-icon-button
        color="primary"
        (click)="moveDown.emit(dashboard)"
        [disabled]="isLast"
      >
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="expanded() && hasChildren">
  <dashboard-list-item
    *ngFor="let child of dashboard.children; trackBy: trackById"
    [dashboard]="child"
    [level]="level + 1"
    [isFirst]="false"
    [isLast]="false"
    (toggleExpand)="toggleExpand.emit($event)"
    (createSubDashboard)="createSubDashboard.emit($event)"
    (edit)="edit.emit($event)"
    (moveUp)="moveUp.emit($event)"
    (moveDown)="moveDown.emit($event)"
    (delete)="delete.emit($event)"
    (select)="select.emit($event)"
  >
  </dashboard-list-item>
</ng-container>
