<div class="router-content">
  <div class="header">
    <h2 class="title">Список дашбордов</h2>
    <button
      mat-flat-button
      color="primary"
      (click)="openCreateDashboardModal()"
    >
      <mat-icon>add</mat-icon>
      Добавить дашборд
    </button>
  </div>

  <div class="content">
    <mat-form-field
      appearance="fill"
      class="full-width"
      *ngIf="interfaceWithSelection$ | async as data"
    >
      <mat-label>Выберите интерфейс</mat-label>
      <mat-select
        [value]="data.selectedId"
        (selectionChange)="onInterfaceChange($event.value)"
      >
        <mat-option *ngFor="let intf of data.interfaces" [value]="intf.id">
          {{ intf.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Поиск дашбордов</mat-label>
      <input
        matInput
        [ngModel]="searchQuery()"
        (ngModelChange)="searchQuery.set($event)"
        placeholder="Введите название дашборда"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-nav-list *ngIf="filteredDashboards$ | async as dashboards">
      <a
        mat-list-item
        *ngFor="let dashboard of dashboards; let i = index; trackBy: trackById"
        class="item"
        [routerLink]="[
        `/dashboard/${dashboard.id}`,
      ]"
      >
        <div class="info-container">
          <div class="info">
            <mat-icon
              [svgIcon]="dashboard.iconId || 'chart'"
              [style.color]="dashboard.color || '#000000'"
              class="icon"
            ></mat-icon>
            <span class="name">{{ dashboard.name }}</span>
          </div>
          <div class="actions">
            <button
              mat-icon-button
              color="primary"
              (click)="moveDashboardUp(dashboard, $event)"
              [disabled]="i === 0"
            >
              <mat-icon>arrow_upward</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              (click)="moveDashboardDown(dashboard, $event)"
              [disabled]="i === dashboards.length - 1"
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              (click)="openEditDashboardModal(dashboard, $event)"
            >
              <mat-icon>settings</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="
                onDelete(dashboard.id || '', dashboard.order || 0, $event)
              "
              class="delete-button"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </a>
    </mat-nav-list>
  </div>
</div>
