<div class="router-content">
  <div class="header">
    <h2 class="title">Список дашбордов</h2>
    <button
      mat-flat-button
      color="primary"
      (click)="openCreateDashboardModal()"
    >
      <mat-icon>add</mat-icon>
      Добавить дашборд
    </button>
  </div>

  <div class="content">
    <mat-form-field
      appearance="fill"
      class="full-width"
      *ngIf="interfaceWithSelection$ | async as data"
    >
      <mat-label>Выберите интерфейс</mat-label>
      <mat-select
        [value]="data.selectedId"
        (selectionChange)="onInterfaceChange($event.value)"
      >
        <mat-option *ngFor="let intf of data.interfaces" [value]="intf.id">
          {{ intf.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Поиск дашбордов</mat-label>
      <input
        matInput
        [ngModel]="searchQuery()"
        (ngModelChange)="searchQuery.set($event)"
        placeholder="Введите название дашборда"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-nav-list *ngIf="hierarchicalDashboards$ | async as dashboards">
      <ng-container *ngFor="let dashboard of dashboards; trackBy: trackById">
        <dashboard-list-item
          [dashboard]="dashboard"
          [level]="0"
          (toggleExpand)="toggleDashboardExpansion($event)"
          (createSubDashboard)="createSubDashboard($event)"
          (edit)="openEditDashboardModal($event)"
          (moveUp)="moveDashboardUp($event)"
          (moveDown)="moveDashboardDown($event)"
          (delete)="onDeleteDashboard($event)"
          (select)="onDashboardSelect($event)"
        >
        </dashboard-list-item>
      </ng-container>
    </mat-nav-list>
  </div>
</div>
