<div class="chart-page-container">
  <div class="data-container">
    <div class="chart-page-data-selection">
      <div class="name">
        <span class="label">График:</span>
        <mat-form-field appearance="outline" class="input">
          <input
            matInput
            [formControl]="nameControl"
            placeholder="Введите название графика"
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Выберите датасет</mat-label>
        <mat-select [formControl]="selectedDatasetControl">
          <mat-option
            *ngFor="let dataset of datasets$ | async"
            [value]="dataset.id"
          >
            {{ dataset.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-data-selection></app-data-selection>
    </div>

    <div class="chart-page-chart-container">
      <mat-form-field appearance="fill">
        <mat-label>Тип графика</mat-label>
        <mat-select [formControl]="chartTypeControl">
          <mat-select-trigger>
            {{ getDisplayName(chartTypeControl.value) }}
          </mat-select-trigger>

          <mat-option *ngFor="let type of chartTypes" [value]="type">
            <div class="option-with-icon">
              <mat-icon>{{ getIcon(type) }}</mat-icon>
              <span>{{ getDisplayName(type) }}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        *ngIf="chartTypeControl.value === 'table'"
      >
        <mat-label>Дочерний график (необязательно)</mat-label>
        <mat-select [formControl]="childChartControl">
          <mat-option [value]="null">Нет дочернего графика</mat-option>
          <mat-option
            *ngFor="let chart of availableChildCharts$ | async"
            [value]="chart.id"
          >
            {{ chart.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-chart class="chart-page-chart"></app-chart>
    </div>
  </div>

  <mat-accordion class="advanced-settings">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Дополнительные настройки </mat-panel-title>
      </mat-expansion-panel-header>

      <app-chart-settings></app-chart-settings>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="button-bar">
    <button mat-raised-button class="warn-button" (click)="onDelete()">
      Удалить
    </button>
    <div class="buttons-container">
      <button mat-raised-button color="primary" (click)="onSave()">
        Сохранить
      </button>
      <button mat-button (click)="onCancel()">Отменить</button>
    </div>
  </div>
</div>
