.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 96px);
  flex-direction: column;
  flex-grow: 1;
}

.dataset-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.5rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;
  z-index: 10;

  .header-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    top: -9px;
  }

  .action-group {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .dataset-title {
    display: flex;
    gap: 0.5rem;

    .title-icon {
      width: 50px;
      height: 50px;
      font-size: 50px;
      color: var(--color-secondary);
      position: relative;
      top: 2px;
    }
  }

  .dataset-input {
    width: 400px;
  }
}

.name-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.5rem;
}

.name {
  display: flex;
  align-items: center;
}

.label {
  position: relative;
  bottom: 10px;
  font-size: 2rem;
  margin-right: 0.8rem;
  font-weight: 500;
}

.input {
  width: 300px;
}

.warn-button {
  background-color: #f44336 !important;
  color: white !important;
  transition: all 0.2s ease;

  &:hover {
    background-color: #d32f2f !important;
  }
}

mat-icon {
  font-size: 20px;
}

.tabs {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}

::ng-deep .mdc-tab__text-label {
  display: flex !important;
  gap: 0.3rem !important;
}

.button-bar {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 1rem 4rem;
  border-top: 1px solid #ddd;
  background: #fff;

  .buttons-container {
    display: flex;
    gap: 1rem;
  }
}
